body{
  width: 1000px;
}
a{
  text-decoration: none;
  color: #333;
}
h1{
  width: 150px;
  display: block;
  margin: 40px auto;
  position: relative;
  left: 150px;
  text-align: center;
}
button{
  background-color: aliceblue;
  width: 120px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: #999 5px 5px 10px;
}
main{
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  left: 200px;
}
section{
  width: 450px;
  height: 200px;
  margin-right: 30px;
}
h2{
  width: 250px;
  display: block;
  margin: 20px auto;
  text-align: center;
}
.button{
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
